@model StudentManagement.Models.DTO.ChangePasswordModel

<style>
form {
			background-color:white;
            border: 3px solid #f1f1f1;
            width: 100%;
            margin: auto;
            margin-top: 10%;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: green;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            border-radius: 2px;
        }

        .container {
            padding: 16px;
        }
        .log{
            height:30%;
            width:25%;
            float : right;
        }

        .msg {
            padding: 0px;
        }


        .err {
            color: red;
        }
</style>

<div class="container">
	<div class="row">
		<div class="col-md-6 center-block">
			
				<h3>Change Password</h3>
				<form asp-action="ChangePassword" method="post" class="abc">
					<center>
					<table>
					<tr>
						<td><label>Current Password</label></td>
						<td><input type="password" class="form-control" asp-for="CurrentPassword" /></td>
					</tr>
					<tr>
						<td colspan="2"> <span class="text-danger" asp-validation-for="CurrentPassword"></span></td>
					</tr>


					<tr>
						<td><label>New Password</label></td>
						<td><input type="password" class="form-control" asp-for="NewPassword" /></td>
					</tr>
					<tr>
						<td colspan="2"> <span class="text-danger" asp-validation-for="NewPassword"></span></span></td>
					</tr>


					<tr>
						<td><label>Confirm New Password</label></td>
						<td><input type="password" class="form-control" asp-for="PasswordConfirm" /></td>
					</tr>
					<tr>
						<td colspan="2"> <span class="text-danger" asp-validation-for="PasswordConfirm"></span></span></td>
					</tr>










					<tr>
						<td>
							@if (TempData["msg"] != null)
							{
								<span class="text-info">@TempData["msg"]</span>
							}
						</td>
					</tr>

				</table>

					<button type="submit" class="btn btn-info">Save</button>

				</center>
				</form>
		
		</div>
	</div>
</div>
