@{
    ViewData["Title"] = "Leave";
}
<style>
        form {
                border: 5px solid #f1f1f1;
                width: 40%;
                margin: auto;
                margin-top: 5%;
                margin-bottom: 10%;
                background-color:white;
            }


        input[type=text], input[type=password], input[type=number] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                float:right;
        }     
        textarea{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        float: right;
        }
        label {
                padding: 0 25px;
            }
         h1 {
                text-align:center;
         }
        table {
                margin-bottom: 5%;
            }
</style>

<h1>Leave Management</h1>
<form asp-action="Leave" method="post">
    <center>
        <table>
            <tr>
                <td><label for="lid">Leave Id</label><br /></td>
                <td><input type="text" id="lid" name="lid" /><br /></td>
             </tr>
            <tr>
                <td><label for="sid">Student Id</label><br /></td>
                <td><input type="text" id="sid" name="sid" /><br /></td>
             </tr>
            <tr>
                <td><label for="sname">Student Name</label><br /></td>
                <td><input type="text" id="sname" name="sname" /><br /></td>
            </tr>
            <tr>
                <td><label for="sdep">Department</label><br /></td>
                <td><input type="text" id="sdep" name="sdep" /><br /></td>
            </tr>
            <tr>
                <td><label for="nod">Number Of Days</label><br /></td>
                <td><input type="number" id="nod" name="nod" /><br /></td><br />
            </tr>
            <tr>
                <td><label for="reason">Reason</label><br /></td>
                <td><textarea id="reason" name="reason" style="height:100px"></textarea><br /></td><br />
            </tr>
            <tr>
                <td></td><td><input type="submit" class="btn btn-success" value="SUBMIT" /></td><br />
            </tr>
        </table>
    </center>
</form>
   
